# Server
PORT=5000
CLIENT_ORIGIN=http://localhost:5173

# CognoDB Cloud
COGNODB_URI=bolt+s://db-316ae4aa.databases.cognodb.com
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=8b3bf35e239cc378af7c29ceb766291a
